* {

}

body {
	margin: 0;
	padding: 0 ;
}

a {
	text-decoration: none;
}

.container {
	background-color: white; ;
	height: 528px;
	width: 800px;
	margin: 40px auto;
	overflow: hidden;
	background-size: cover;
	top: 0;
	left: 0;
	position: relative;	
}

/*
.scene_bee {
	height: 2111px;
	width: 2105px;
	position: absolute;
	top: -10%;
	left: -25%;
	background-image: url('scene_bee.png');
	z-index: 1;

	animation: rotating 60s linear infinite;
}
*/

.scenery {

	position: absolute;
	top: -20%;
	left: 0%;
}

#scenery1 {
	width: 200%;
	height: 80%;
}

.static_parts {
	height: 506px;
	width: 832px;
	position: absolute;
	left: -1.3%;
	top: -9%;
	overflow: hidden;
	z-index: 2;
}

#follow {
	position: absolute;
	left: 2%;
	bottom: 17%;
	z-index: 10;
	cursor: pointer;
}

#follow2 {
	position: absolute;
	left: 2%;
	bottom: 30%;
	z-index: 10;
	cursor: pointer;
}

#stars {
	position: absolute;
	left: 80%;
	bottom: 17%;
	z-index: 10;
	cursor: pointer;
}

/*
.road {
	height: 300px;
	width: 572px;
	position: absolute;
	right: -10%;
	bottom: 20%;
	overflow: hidden;
	z-index: 0;
}

*/

.blinking_eyes {
	position: absolute;
	top: -31%;
	left: -14.5%;
	z-index: 3;

	animation: blinking 1s steps(1) infinite;
}

.swinging {
	position: absolute;
	top: 28%;
	left: 65%;
	z-index: 3;
	animation: swinging 3s infinite;
	cursor: pointer;
}

.bottom {
	height: 55px;
	width: 800px;
	position: absolute;
	bottom: 0;
	margin: auto;
	padding: 10px;
	background-color: black;
	font-family: 'Courier New';
	z-index: 10;
}

audio {
	float: left;
	margin-right: 3em;
}

h4 {
	color: white;
}

audio:focus {
	outline: none;
}

@keyframes rotating {
	100%{transform: rotate(-360deg);}
} 

@keyframes blinking {
	0% {
		opacity: 1;
	}

	20% {
		opacity: 0;
	}

	30% {
		opacity: 1;
	}

	100% {
		opacity: 1;
	}
}

@keyframes swinging {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(-10deg);
	}
	75% {
		transform: rotate(10deg);
	}
}


