
body {
	margin: 0;
	padding: 0;
	background-color: black;
	font-family: 'Balsamiq Sans', cursive;
}

.media_container {
	position: relative;
	background-color: white;
}

.title {
	width: 100%;
	height: 10%;
	position: absolute;
	top: 0;
	left: 0;	
	background-color: black;
	color: white;
	padding: 1rem 3rem;
}

.title h1 {
	font-family: 'Special Elite', cursive;
}

iframe {
	position: absolute;
	top: 18%;
	left: 2%;
	width: 60%;
	height: 80%;
	margin-left,, margin-right: 1.5rem;
}



#video_playlist {
	position: absolute;
	top: 20%;
	left: 65%;
	list-style: none;
}

li {
	margin: 0.5rem;
}

#video_playlist li a {
	text-decoration: none;
	color: white;
	font-size: 1rem;
}

#video_playlist .current-video a {
	color: yellow;
}

audio {
	position: absolute;
	top: 50%;
	left: 65%;
}

#audio_playlist {
	position: absolute;
	top: 70%;
	left: 65%;
	list-style: none;
}

#audio_playlist li a {
	text-decoration: none;
	color: white;
	font-size: 1rem;
}

#audio_playlist .current-song a {
	color: yellow;
}


