
* {

}

body {
	margin: 0;
	padding: 0 ;
}

a {
	text-decoration: none;
}

.rainyDrive_container {
	background-color: white; ;
	height: 452.4px;
	width: 800px;
	margin: 0 auto;
	overflow: hidden;
	background-size: cover;

	top: 0;
	left: 0;
	position: relative;	
}

.street {
	height: 452.4px;
	width: 5500px;
	position: absolute;
	top: 0;
	background-image: url('street_1.png');
	background-repeat: repeat-x;
	z-index: 0;

	animation: street_move 30s linear infinite;

}

.rain {
	width: 800px;
	height: 452.4px;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('rain_3.png');
	background-repeat: repeat-y;
	z-index: 0;

	animation: raining 0.5s linear infinite;
}

.inside_car {
	height: 506px;
	width: 832px;
	position: absolute;
	left: -4%;
	top: -10%;
	overflow: hidden;
	z-index: 2;
}

.lulu_eyes_blinking {
	position: absolute;
	top: 50%;
	left: 40%;
	z-index: 3;

	animation: blinking 1s steps(1) infinite;
}

@keyframes street_move {
	100%{transform: translateX(-1800px)};
} 

@keyframes raining {
	100%{transform: translateY(160px);}
}

@keyframes blinking {
	0% {
		opacity: 1;
	}

	20% {
		opacity: 0;
	}

	30% {
		opacity: 1;
	}

	100% {
		opacity: 1;
	}
}




